---
layout: default
---

<div id="homeid" class="container-fluid nopadding">
    <!-- Banner Image -->
    <div class="banner">
        <img src="{{ site.url }}{{ site.baseurl }}/images/banner.png" alt="Banner Image" class="img-fluid" />
    </div>

    <!-- Content Below Banner -->
    <div class="row mt-4">
        <div class="col-sm-8 ml-0 nopadding-left">
            <!-- Description -->
            <div class="lab-description">
                {{ content }}
            </div>
        </div>

        <div id="newsid" class="col-sm-4 nopadding-right">
            <ul class="list-unstyled">
                {% for article in site.data.news %}
                <li class="media">
                    <div class="media-body">
                        <h4 class="mt-0 mb-1">{{ article.title }}</h4>
                        <p><small>{{ article.date }}</small></p>
                        {{ article.content }}
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
